<div class='signin'>
  <%= form_with url: sessions_path, local: true do |f| %>
    <div class="form-outline">
      <%= f.text_field :username,
                  autofocus: true,
                  required: true,
                  type: 'username',
                  class: "form-control string required my-3",
                  placeholder: "Username",
                  label: true %>
    </div>
    <div class="form-actions d-grid gap-2">
      <%= f.submit 'Sign In', class: "btn btn-primary text-light mb-2 shadow-0" %>
    </div>
  <% end %>
</div>