<footer class="text-center text-white fixed-bottom">
  <section class="mb-4">
    <!-- Twitter -->
    <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="https://www.twitter.com/bashForge"
      target="_blank"
      role="button"
      data-mdb-ripple-color="dark"
    ><i class="fab fa-twitter"></i
    ></a>

    <!-- Linkedin -->
    <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="https://www.linkedin.com/in/muhammad-adeel-danish"
      target="_blank"
      role="button"
      data-mdb-ripple-color="dark"
    ><i class="fab fa-linkedin"></i
    ></a>
    <!-- Github -->
    <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="https://www.github.com/bashforger"
      target="_blank"
      role="button"
      data-mdb-ripple-color="dark"
    ><i class="fab fa-github"></i
    ></a>
  </section>
</footer>