 <!-- Navbar -->
 <header class="mt-2 bg-primary">
   <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid justify-content-between">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbar-collapse-menu"
          aria-controls="navbarExample01"
          aria-expanded="false"
          role="tablist"
          aria-orientation="vertical"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <%= link_to 'Home', groups_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbar-collapse-menu">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <%= render_header %>
          </ul>
        </div>
      </div>
    </nav>
 </header>
  <!-- Navbar -->